body {
  background-color: #c9f6ff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #222;
}

/* HEADER */
header {
  background: linear-gradient(135deg, #007ca5, #00bcd4);
  color: white;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

header h2 {
  font-size: 34px;
  animation: glow 2.5s infinite alternate;
  text-shadow: 0 0 10px #00e6ff, 0 0 20px #00bcd4;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #00e6ff;
  }
  to {
    text-shadow: 0 0 30px #00ffff;
  }
}

header p {
  font-size: 16px;
}

/* SECTIONS */
section {
  margin: 30px;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #0078a0;
  border-bottom: 2px solid #0078a0;
  width: fit-content;
}

p {
  line-height: 1.6;
}

/* TABLE */
table {
  width: 70%;
  margin: 15px auto;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  border: 2px solid #0078a8;
  padding: 10px;
}

th {
  background-color: #0078a0;
  color: white;
}

/* LIST */
ul {
  list-style-type: square;
  padding-left: 30px;
}

/* FOOTER */
footer {
  background-color: #004d66;
  color: white;
  text-align: center;
  padding: 15px;
}
